$mainFont: "Poiret One", cursive;
$scriptFont: "Zeyada", cursive;
$blue: #397979;
$blueAlpha: #749b768f;

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: $mainFont;
	text-align: center;
	overflow-x: hidden;
}

.menu {
	position: absolute;
	width: 25px;
	right: 5px;
	cursor: pointer;
	border-radius: 50%;

	&.open {
		background-color: $blueAlpha;
	}
}

.title {
	font-size: 1.6rem;
}

.para {
	padding: 1em 1em;
	line-height: 1.3;
	font-size: 1.1rem;
	font-weight: 600;
}

.header {
	position: fixed;
	width: 100%;
	overflow-x: hidden;
	z-index: 2;
	background-color: white;

	&__img {
		width: 20px;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5em 0;
		text-align: center;
	}

	&__icon {
		width: 50px;
		margin-right: 1em;
	}

	&__heading {
		font-family: "Poiret One", cursive;
		font-weight: bold;
		color: $blue;
		font-size: 1.5rem;
		margin-left: -20px;
	}

	&__subtitle {
		font-size: 1.2rem;
		font-family: $scriptFont;
		letter-spacing: 1px;
	}
}

.navbar {
	background-color: $blue;
	padding: 1em 0;
	position: fixed;
	top: 74px;
	width: 100%;
	right: -100%;
	z-index: 2;

	transition: all 0.5s ease-in-out;
	& li {
		list-style: none;
		margin: 1em 0;
	}
	& a {
		text-decoration: none;
		color: whitesmoke;
		// font-weight: bold;
		font-size: 1.3rem;
	}

	&.show {
		right: 0;
		transition: right 0.5s ease;
	}
}

.welcome {
	&__hero {
		position: relative;
	}

	&__heading {
		padding: 0.75em 0;
		font-weight: bolder;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		font-size: 1.8rem;
		background: rgba(255, 255, 255, 0.7);
		width: 100%;
	}

	&__span {
		display: block;
		margin-top: 10px;

		&--heading {
			font-size: 1.4rem;
			display: block;
			margin-bottom: 10px;
			text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.3);
			color: $blue;
		}
	}

	&__img {
		width: 100%;
		margin-top: 75px;
	}
}

.about {
	background-color: $blueAlpha;
}
