$mainFont: "Poiret One", cursive;
$scriptFont: "Zeyada", cursive;
$blue: #397979;
$blueAlpha: #749b768f;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $mainFont;
	text-align: center;
	overflow-x: hidden;

	@media screen and (min-width: 1000px) {
		width: 1000px;
		margin: 0 auto;
	}
}

.menu {
	position: absolute;
	width: 25px;
	right: 5px;
	cursor: pointer;
	outline: none;
	border-radius: 50%;

	&.open {
		background-color: lighten($blue, 15%);
	}

	@media screen and (min-width: 1000px) {
		display: none;
	}
}

.title {
	font-size: 1.6rem;
}

.para {
	padding: 1em 1em;
	line-height: 1.3;
	font-size: 1.1rem;
	font-weight: 600;
}

.header {
	position: fixed;
	width: 100%;
	overflow-x: hidden;
	z-index: 2;
	background-color: white;

	@media screen and (min-width: 1000px) {
		width: 1000px;
		position: relative;
	}

	&__img {
		width: 20px;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5em 0;
		text-align: center;
	}

	&__icon {
		width: 50px;
		margin-right: 1em;
	}

	&__heading {
		font-family: "Poiret One", cursive;
		font-weight: bold;
		color: $blue;
		font-size: 1.5rem;
		margin-left: -20px;
	}

	&__subtitle {
		font-size: 1.2rem;
		font-family: $scriptFont;
		letter-spacing: 1px;
	}
}
nav {
	display: flex;
}

.navbar {
	background-color: $blue;
	position: fixed;
	top: 74px;
	width: 100%;
	right: -100%;
	z-index: 2;
	opacity: 0;
	transition: right 0.7s ease-in-out, opacity 0.7s ease-in-out;

	@media screen and (min-width: 1000px) {
		right: 0;
		opacity: 1;
		display: flex;
		left: 0;
		width: 1000px;
		margin: 0 auto;
		position: static;

		&.fixedNav {
			position: fixed;
			top: 0;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
		}
	}

	& li {
		list-style: none;
		flex: 1;
		padding: 1em 0;
		position: relative;

		&.logo {
			display: none;
			transition: all 1s ease-in-out;

			@media screen and (min-width: 1000px) {
				background: whitesmoke;

				overflow: hidden;
				display: flex;
				justify-content: center;
				white-space: nowrap;
				max-width: 0;

				&.show {
					max-width: 600px;
				}

				& a {
					font-weight: bold;
					margin-left: 0.3em;
					color: black;
				}
			}
		}
	}

	& a {
		text-decoration: none;
		color: whitesmoke;
		font-size: 1.5rem;

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 50%;
			height: 1px;
			margin: 0 auto;
			bottom: 15px;
			left: 25%;
			background: whitesmoke;
			transform: scalex(0);
			transform-origin: center;
			transition: transform 0.5s ease;
		}

		&:hover::after,
		&:focus::after {
			transform: scalex(1);
			transition: transform 0.5s ease;
		}
	}

	&.show {
		right: 0;
		opacity: 1;
	}
}

.welcome {
	&__hero {
		position: relative;
	}

	&__heading {
		padding: 0.75em 0;
		font-weight: bolder;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		font-size: 1.8rem;
		background: rgba(255, 255, 255, 0.7);
		width: 100%;
	}

	&__span {
		display: block;
		margin-top: 10px;

		&--heading {
			font-size: 1.4rem;
			display: block;
			margin-bottom: 10px;
			text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.3);
			color: $blue;
		}
	}

	&__img {
		width: 100%;
		margin-top: 75px;
		@media screen and (min-width: 1000px) {
			margin-top: 0;
		}
	}
}

.about {
	background-color: $blueAlpha;
}
